.logo-container{
    width: 100vw;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    .logo{
        width: 96px;
        height: 96px;
    }
  
}
.button{
    width: 336px;
    height: 40px;
    background: #2BB86E;
    border-radius: 50px 50px 50px 50px;
    display:flex ;
    justify-content: center;
    align-items: center;
}